*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.box {
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid greenyellow;
    overflow: hidden;
        }
.bar {
    height: 100%;
    width: 0%;
       background-color: aqua;
    animation: bar 10s linear infinite;
    }

@keyframes bar {
        from { 
            width: 0%;
             }
        to {
        width: 100%;
        }